body {
    background-color: #efebe2;
  }
  
  h1 {
    color: #25b4b7;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
  }
  h2 {
    color: #25b4b7;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  input[type="text"], input[type="email"] {
    width: 400px;
  }
  input[type="text"] {
    width: 80%; 
    max-width: 400px;  /* You might want a smaller max-width for shorter text */
  }
  textarea {
    width: 80%; /* Occupy 80% of the container's width */
    max-width: 400px; /* But don't exceed 600px */
  }